@import 'tailwindcss' prefix(adu);
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* fonts */
  --font-inter: 'Inter', sans-serif;
  --font-roboto-mono: 'Roboto Mono', sans-serif;
  --font-aeonik: 'Aeonik', sans-serif;

  /* font size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */

  /* font weight */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* line height */
  --leading-1\.15: 1.15;
  --leading-1\.20: 1.2;
  --leading-1\.25: 1.25;
  --leading-1\.30: 1.3;
  --leading-1\.33: 1.33;
  --leading-1\.40: 1.4;
  --leading-1\.45: 1.45;
  --leading-1\.50: 1.5;
  --leading-1\.65: 1.65;

  /* letter spacing */
  --tracking-n-6xl: -0.05em;
  --tracking-n-5xl: -0.044em;
  --tracking-n-4xl: -0.025em;
  --tracking-n-3xl: -0.02125em;
  --tracking-n-2xl: -0.02em;
  --tracking-n-xl: -0.01125em;
  --tracking-n-lg: -0.011em;
  --tracking-n-md: -0.00625em;
  --tracking-n-sm: -0.006em;
  --tracking-n-xs: -0.00525em;
  --tracking-base: 0;
  --tracking-p-xs: 0.0025em;
  --tracking-p-sm: 0.005em;
  --tracking-p-md: 0.01em;
  --tracking-p-lg: 0.011em;
  --tracking-p-xl: 0.025em;
  --tracking-p-2xl: 0.0375em;
  --tracking-p-3xl: 0.05em;
  --tracking-p-4xl: 0.1em;

  /* border radius */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.625rem; /* 10px */
  --radius-xl: 0.875rem; /* 14px */
  --radius-full: 9999px;

  /* background colors */
  --color-page: var(--page);
  --color-card: var(--card);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-popover: var(--popover);
  --color-layer: var(--layer);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-caution: var(--caution);
  --color-warning: var(--warning);
  --color-button-subtle: var(--button-subtle);
  --color-surface-muted: var(--surface-muted);
  --color-surface-selected: var(--surface-selected);
  --color-button-primary: var(--button-primary);

  /* foreground colors */
  --color-foreground: var(--foreground);
  --color-foreground-inverse: var(--foreground-inverse);
  --color-foreground-bold: var(--foreground-bold);
  --color-foreground-card: var(--foreground-card);
  --color-foreground-destructive: var(--foreground-destructive);
  --color-foreground-popover: var(--foreground-popover);
  --color-foreground-selected: var(--foreground-selected);
  --color-foreground-success: var(--foreground-success);
  --color-foreground-info: var(--foreground-info);
  --color-foreground-caution: var(--foreground-caution);
  --color-foreground-warning: var(--foreground-warning);
  --color-foreground-icon: var(--foreground-icon);

  /* border colors */
  --color-border-boldest: var(--border-boldest);
  --color-border-input: var(--border-input);
  --color-border: var(--border);
  --color-border-muted: var(--border-muted);
  --color-border-success: var(--border-success);
  --color-border-info: var(--border-info);
  --color-border-caution: var(--border-caution);
  --color-border-warning: var(--border-warning);

  /* code colors */
  --color-code-layer: var(--code-layer);
  --color-code-content: var(--code-content);
  --color-code-string-key: var(--code-string-key);
  --color-code-string-value: var(--code-string-value);
  --color-code-boolean: var(--code-boolean);
  --color-code-delimiter: var(--code-delimiter);
  --color-code-number: var(--code-number);
  --color-code-object: var(--code-object);

  /* Shadow base colors */
  --color-shadow: var(--color-shadow);
  --color-shadow-destructive: var(--color-shadow-destructive);
  --transparency-level-1: 0.04;
  --transparency-level-2: 0.06;
  --transparency-level-3: 0.08;
  --transparency-level-4: 0.1;
  --transparency-level-5: 0.12;
  --transparency-level-6: 0.16;
  --transparency-level-7: 0.2;
  --transparency-level-8: 0.24;
  --transparency-level-9: 0.4;

  /* Standard elevation shadows */
  --shadow-xs:
    0px 2px 2px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 1px 1px -0.5px hsla(var(--color-shadow), var(--transparency-level-1));

  --shadow-sm:
    0px 4px 4px -2px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 2px 2px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 1px 1px -0.5px hsla(var(--color-shadow), var(--transparency-level-1));

  --shadow-md:
    0px 6px 6px -3px hsla(var(--color-shadow), var(--transparency-level-2)),
    0px 4px 4px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 2px 2px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 1px 1px -0.5px hsla(var(--color-shadow), var(--transparency-level-1));

  --shadow-lg:
    0px 12px 12px -6px hsla(var(--color-shadow), var(--transparency-level-3)),
    0px 6px 6px -1.5px hsla(var(--color-shadow), var(--transparency-level-2)),
    0px 4px 4px 0px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 2px 2px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 1px 1px -0.5px hsla(var(--color-shadow), var(--transparency-level-1));

  --shadow-xl:
    0px 24px 24px -22px hsla(var(--color-shadow), var(--transparency-level-4)),
    0px 12px 12px -8px hsla(0, 0%, 0%, 0.08),
    0px 6px 6px -3px hsla(var(--color-shadow), var(--transparency-level-2)),
    0px 4px 4px 2px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 2px 2px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 1px 1px -0.5px hsla(var(--color-shadow), var(--transparency-level-2));

  --shadow-2xl:
    0px 40px 40px -28px hsla(var(--color-shadow), var(--transparency-level-5)),
    0px 24px 24px -28px hsla(var(--color-shadow), var(--transparency-level-4)),
    0px 12px 12px -8px hsla(0, 0%, 0%, 0.08),
    0px 6px 6px -3px hsla(var(--color-shadow), var(--transparency-level-2)),
    0px 4px 4px 2px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 2px 2px -1px hsla(var(--color-shadow), var(--transparency-level-1)),
    0px 1px 1px -0.5px hsla(var(--color-shadow), var(--transparency-level-1));
}

:root {
  /* background */
  --page: #ffffff;
  --card: #ffffff;
  --input: #ffffff;
  --destructive: #f3e2de;
  --popover: #ffffff;
  --layer: rgba(255, 255, 255, 0.8);
  --success: #abdfb9;
  --info: #b2c5fb;
  --caution: #ffe573;
  --warning: #ffbf9f;
  --button-subtle: rgba(0, 0, 0, 0.0314);
  --surface-muted: #c2c2c2;
  --surface-selected: #efefef;
  --button-primary: #191919;

  /* foreground */
  --foreground: #767676;
  --foreground-inverse: #f4f4f4;
  --foreground-bold: #232220;
  --foreground-card: #232220;
  --foreground-destructive: #ba351d;
  --foreground-popover: #232220;
  --foreground-selected: #6742d5;
  --foreground-success: #008140;
  --foreground-info: #344ac5;
  --foreground-caution: #907600;
  --foreground-warning: #c45915;
  --foreground-icon: #1f1f1f;

  /* border */
  --border-boldest: #1f1f1f;
  --border-input: #e6e6e6;
  --border: #afadaa;
  --border-muted: #cecdca;
  --border-success: #008140;
  --border-info: #344ac5;
  --border-caution: #907600;
  --border-warning: #c45915;

  /* code */
  --code-layer: #f4f4f4;
  --code-content: rgba(255, 255, 255, 0.8);
  --code-string-key: #595959;
  --code-string-value: #149750;
  --code-boolean: #e27133;
  --code-delimiter: #afafaf;
  --code-number: #374ec9;
  --code-object: #6742d5;

  /* Shadow base colors */
  --color-shadow: 0, 0%, 0%;
  --color-shadow-destructive: 5, 85%, 37%;
  --transparency-level-1: 0.04;
  --transparency-level-2: 0.06;
  --transparency-level-3: 0.08;
  --transparency-level-4: 0.1;
  --transparency-level-5: 0.12;
  --transparency-level-6: 0.16;
  --transparency-level-7: 0.2;
  --transparency-level-8: 0.24;
  --transparency-level-9: 0.4;
}

.dark {
  /* background */
  --page: #191919;
  --card: #21201f;
  --input: rgba(0, 0, 0, 0.05);
  --destructive: #43140b;
  --popover: #21201f;
  --layer: rgba(41, 39, 37, 0.502);
  --success: #225835;
  --info: #2f428b;
  --caution: #433600;
  --warning: #63361f;
  --button-subtle: rgba(255, 255, 255, 0.902);
  --surface-muted: #4a4a4a;
  --surface-selected: #282828;
  --button-primary: #ffffff;

  /* foreground */
  --foreground: #7b7b7b;
  --foreground-inverse: #191919;
  --foreground-bold: #efede9;
  --foreground-card: #efede9;
  --foreground-destructive: #ff9179;
  --foreground-popover: #efede9;
  --foreground-selected: #b3a7ff;
  --foreground-success: #61d287;
  --foreground-info: #94b2ff;
  --foreground-caution: #f8d523;
  --foreground-warning: #ff9f6e;
  --foreground-icon: #eeeeee;

  /* border */
  --border-boldest: #eeeeee;
  --border-input: #282828;
  --border: #63615e;
  --border-muted: #3f3d3a;
  --border-success: #61d287;
  --border-info: #94b2ff;
  --border-caution: #f8d523;
  --border-warning: #ff9f6e;

  /* code */
  --code-layer: #21201f;
  --code-content: #1a1918;
  --code-string-key: #b4b4b4;
  --code-string-value: #61d287;
  --code-boolean: #ff9f6e;
  --code-delimiter: #7b7b7b;
  --code-number: #94b2ff;
  --code-object: #b3a7ff;

  /* Shadow base colors */
  --color-shadow: 0, 0%, 100%;
  --color-shadow-destructive: 5, 85%, 37%;
  --transparency-level-1: 0.04;
  --transparency-level-2: 0.06;
  --transparency-level-3: 0.08;
  --transparency-level-4: 0.1;
  --transparency-level-5: 0.12;
  --transparency-level-6: 0.16;
  --transparency-level-7: 0.2;
  --transparency-level-8: 0.24;
  --transparency-level-9: 0.4;
}

@layer base {
  * {
    border-color: var(--color-border);
    outline-color: color-mix(in srgb, var(--color-ring) 50%, transparent);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: style;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'rvrn';
  }
}

.adu-dropdown-menu-content,
.adu-dropdown-menu-content::before,
.adu-dropdown-menu-content::after {
  border-width: 1px;
  border-color: var(--border-input);
}
