{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "tailwindStylesheet": "./src/index.css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cva", "clsx", "cn", "twMerge"]
}
